extends base.pug

block scripts
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script 
        include ../static/script.js

block style  
    style
        include ../static/style.css

block content

    section#introSection 
        div.conainer 
            div#para-head  Welcome to The Dance Academy
            div#para Eat Dance Sleep Repeat . . .

    section#missionSection 
        h2 Our Mission
        ul
            li.card(data-aos="fade-up")   
                h3 This is a card
                div.card-box
                    div.card-img
                        img(src="static/card-1.png", alt="")
                    div.card-content
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eius.
            li.card(data-aos="fade-up")  
                h3 This is a card
                div.card-box
                    div.card-img
                            img(src="static/card-2.png", alt="")
                    div.card-content
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eius.
            li.card(data-aos="fade-up")  
                h3 This is a card
                div.card-box
                    div.card-img
                        img(src="static/card-3.png", alt="")
                    div.card-content
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eius.


    section#sponsorSection 
        h2 Our Sponsors 
        div#sponsors
            img.sponsorImg(src="/static/sponsor1.png", alt="sponsors")
            img.sponsorImg(src="/static/sponsor2.png", alt="sponsors")
            img.sponsorImg(src="/static/sponsor3.png", alt="sponsors")
            img.sponsorImg(src="/static/sponsor4.png", alt="sponsors")